<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d2b987">  <td>18/12/29 16:06:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcase.CreatLead$TC001_LoginAndLogout@69ea3742]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1815546035</td>   <td></td> </tr>
<tr bgcolor="d2b987">  <td>18/12/29 16:06:34</td>   <td>18012</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcase.CreatLead$TC001_LoginAndLogout@69ea3742]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1815546035</td>   <td></td> </tr>
<tr bgcolor="d2b987">  <td>18/12/29 16:06:52</td>   <td>35825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcase.CreatLead$TC001_LoginAndLogout@69ea3742]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1815546035</td>   <td></td> </tr>
<tr bgcolor="d2b987">  <td>18/12/29 16:06:53</td>   <td>36673</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcase.CreatLead$TC001_LoginAndLogout@69ea3742]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1815546035</td>   <td></td> </tr>
<tr bgcolor="d2b987">  <td>18/12/29 16:06:53</td>   <td>36582</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterTest()[pri:0, instance:testcase.CreatLead$TC001_LoginAndLogout@69ea3742]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1815546035</td>   <td></td> </tr>
<tr bgcolor="d2b987">  <td>18/12/29 16:05:54</td>   <td>-22433</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcase.CreatLead$TC001_LoginAndLogout@69ea3742]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1815546035</td>   <td></td> </tr>
<tr bgcolor="d2b987">  <td>18/12/29 16:05:54</td>   <td>-21647</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcase.CreatLead$TC001_LoginAndLogout@69ea3742]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1815546035</td>   <td></td> </tr>
<tr bgcolor="d2b987">  <td>18/12/29 16:06:17</td>   <td>772</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcase.CreatLead$TC001_LoginAndLogout@69ea3742]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1815546035</td>   <td></td> </tr>
<tr bgcolor="d2b987">  <td>18/12/29 16:06:35</td>   <td>18730</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcase.CreatLead$TC001_LoginAndLogout@69ea3742]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1815546035</td>   <td></td> </tr>
<tr bgcolor="d2b987">  <td>18/12/29 16:05:53</td>   <td>-23000</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcase.CreatLead$TC001_LoginAndLogout@69ea3742]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1815546035</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/12/29 16:06:00</td>   <td>-15862</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatLead$TC001_LoginAndLogout.creatl(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcase.CreatLead$TC001_LoginAndLogout@69ea3742]">creatl</td> 
  <td>main@1815546035</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/12/29 16:06:21</td>   <td>5443</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatLead$TC001_LoginAndLogout.creatl(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcase.CreatLead$TC001_LoginAndLogout@69ea3742]">creatl</td> 
  <td>main@1815546035</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/12/29 16:06:39</td>   <td>23480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatLead$TC001_LoginAndLogout.creatl(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcase.CreatLead$TC001_LoginAndLogout@69ea3742]">creatl</td> 
  <td>main@1815546035</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/12/29 16:05:54</td>   <td>-22439</td> <td>&nbsp;</td><td title="&gt;&gt;CreatLead$TC001_LoginAndLogout.setData()[pri:0, instance:testcase.CreatLead$TC001_LoginAndLogout@69ea3742]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1815546035</td>   <td></td> </tr>
</table>
