<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d2b987">  <td>18/12/29 16:17:36</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcase.CreatLead$TC001_LoginAndLogout@69ea3742]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1815546035</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/12/29 16:17:37</td>   <td>628</td> <td>&nbsp;</td><td title="&gt;&gt;CreatLead$TC001_LoginAndLogout.setData()[pri:0, instance:testcase.CreatLead$TC001_LoginAndLogout@69ea3742]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1815546035</td>   <td></td> </tr>
<tr bgcolor="d2b987">  <td>18/12/29 16:17:37</td>   <td>633</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcase.CreatLead$TC001_LoginAndLogout@69ea3742]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1815546035</td>   <td></td> </tr>
<tr bgcolor="d2b987">  <td>18/12/29 16:17:38</td>   <td>1337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcase.CreatLead$TC001_LoginAndLogout@69ea3742]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1815546035</td>   <td></td> </tr>
</table>
